@font-face {
  font-family: 'Manrope';
  src: url('src/assets/fonts/Manrope-ExtraLight.ttf');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('src/assets/fonts/Manrope-Light.ttf');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('src/assets/fonts/Manrope-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('src/assets/fonts/Manrope-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('src/assets/fonts/Manrope-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('src/assets/fonts/Manrope-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('src/assets/fonts/Manrope-ExtraBold.ttf');
  font-weight: 800;
  font-display: swap;
}
