* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Manrope', 'Arial', 'Helvetica', 'Noto Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
